[Unit]
Description=Prometheus Config Sync
After=network-online.target
Wants=network-online.target

[Service]
User=prometheus
Group=prometheus
EnvironmentFile=/etc/default/prometheus-config-sync
ExecStart=/usr/local/bin/prometheus-config-sync
Restart=on-failure
RestartSec=5
UMask=0022
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=true
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectClock=true
ProtectKernelLogs=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictNamespaces=true
RestrictSUIDSGID=true
CapabilityBoundingSet=
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
